#playing-area {
    position : absolute;
    left : 13%; 
    top : 10%; 
    background-color : rgb(200,200,256);
    box-shadow: 0px 0px 20px #000;
    z-index:0;
}

.brick {
    position : absolute;
    border : none;
    background-color : rgb(100,150,256);
    border-radius: 5px;  
    box-shadow: inset 0px 0px 10px #333;
    z-index:1;
}

h1{
    position : absolute;
    left : 0%; top : 0%; width : 100%; height : 5%;
    border : none;
    font-size : 25px;
    color : Dodgerblue;
}

.brick p {
    margin : 2;
    font-size : 14px;
    font-weight : bold;
    color : #777;
    text-align : center; 
    text-shadow: #fff 1px 1px 2px;
}

#platform {
    position : absolute;
    left : 50%; top : 100%; width : 150px; height : 20px;
    margin-left : -75px;
    margin-top : -20px;
    border : none;
    border-radius: 2px;
    background-color : rgb(100,150,256);
    box-shadow: inset 0px 0px 10px #333;
    z-index:1;
}

 #ball {
    position : absolute;
    width : 20px; height : 20px;
    background-color : rgb(100,150,256);
    border-radius: 10px;  
    box-shadow: inset 0px 0px 10px #333;
    z-index:1;
}

#info{
    position : absolute;
    left : 2%; top : 10%; width : 10%; height : 100%;
    border : none;
    font-size : 20px;
    color : Dodgerblue;
}


